@import "../../StylesSource/variables.scss";

.add-form {
    margin-top: 2%;
    width: 80%;

    .name,
    .brand {
        width: 51%;
        display: inline-block;
    }

    .name {
        margin-left: -3%;
    }

    .price,
    .disc,
    .col,
    .quan,
    .size {
        margin-top: 3%;
        width: 20%;
        display: inline-block;
    }

    .upload {
        background-color: red;
    }

    .add-item-btn {
        width: 17%;
        margin-left: 2%;
    }

    .filebtn {
        width: 25%;
        margin-left: 2%;
        margin-bottom: 2%;
        margin-top: 2%;

        input {
            height: 100%;
            width: 100%;
        }
    }
}