@import "../../StylesSource/variables.scss";

.backdrop {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.471);
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    width: 60%;
    height: 60vh;
    background-color: white;
    @include dropShadow();
    animation: modal 0.4s 1;

    .modalHeader {
      @include headingThree();
      text-align: center;
      margin-top: 2%;
    }

    .name-container {
      width: 40%;
    }

    .rating {
      border: 2px solid $red;
      outline: none;
      width: 5%;
      height: 10px;
      margin-left: 4%;
      padding: 13px;
      margin-top: 1%;
    }

    .review-container {
      width: 93%;
      padding-left: 2%;
      padding-right: 4%;
    }

    .buttons {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      .review-btn {
        width: 25%;
      }
    }
  }

  #close {
    width: 60%;
    height: 60vh;
    background-color: white;
    @include dropShadow();
    animation: modalOut 0.4s 1;
  }


  @keyframes modal {
    from {
      transform: scale(0);
      opacity: 0;
      z-index: -1;
    }

    to {
      transform: scale(1);
      opacity: 1;
      z-index: 2;
    }
  }

  @keyframes modalOut {
    from {
      transform: scale(1);
      opacity: 1;
      z-index: 2;
    }

    to {
      transform: scale(0);
      opacity: 0;
      z-index: -1;
    }
  }
}