@import "../../StylesSource/variables.scss";

.orderItem{
    width: 96%;
    height: 100px;
    display: flex;
    background-color: $white;
    @include dropShadow();
    margin-top: 1%;
    padding-right: 2%;
    padding-left: 2%;

    .order-information{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .viewButton, .dispatchButton{
            margin-top: 1.8%
        }
  

    .name,
    .id,
    .date,
    .status,
    .products {
     
      @include body();
      font-weight: 700;
      margin-top: 3%;
      width: 10%;
      text-align: left;
    }
    }


 
}