@import '../../StylesSource/variables.scss';


.cart-dropdown-container{
    position: absolute;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    @include dropShadow();
    background-color: white;
    top: 10vh;
    right: 40px;
    z-index: +999;

    h2{
        @include headingTwo();
        margin-top: 0;
    }

    .cart-items{
        height: 90%;
        overflow: scroll;
    }

}