@import "../../StylesSource/variables.scss";

.filter-container{
    width: 18vw;
    height: 86vh;
    background-color: $black;
    float: left;
    margin-top: 20px;
    margin-left: 12px;
    position: relative;

    @include dropShadow();

    .filter-heading{
        @include headingFour();
        margin-top: 10px;
        color: white;
        text-align: center;
    }
}