@import "../../StylesSource/variables.scss";

.dot{
    height: 15px;
    aspect-ratio: 1/1 !important;
    background-color: $white;
    border-radius: 55%;
    display: inline-block;
    margin-left: 15px;
    transition: 0.5 ease all;
    cursor: pointer;
}

.active{
    background-color: $red !important;
    margin-top: 3px;
    height: 12px;
    aspect-ratio: 1/1 !important;
    border-radius: 55%;
    display: inline-block;
    margin-left: 20px;
    transition: 0.5 ease all;
}