@import "../../StylesSource/variables.scss";

.dot{
    width: 25px;
    height: auto;
    aspect-ratio: 1/1 !important;
    background-color: $white;
    border-radius: 55%;
    display: inline-block;
    margin-left: 20px;
}