@import "../../StylesSource/variables.scss";

.backdrop {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.471);
    position: fixed;
    z-index: +999;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
        width: 60%;
        height: 60vh;
        background-color: white;
        @include dropShadow();
        animation: modal 0.4s 1;


        .prod-image {
            width: 15%;
            aspect-ratio: 1/1;
            background-color: red;
            position: absolute;
            top: 5%;
            left: 42%;
            border-radius: 55%;
            @include dropShadow();
            object-fit: cover;
        }


        .header-text-stock {
            @include headingThree();
            text-align: center;
            margin-top: 13%;
        }

       .form-container{
            width: 100%;
            display: flex;
            justify-content: space-between;

            .left-container, .right-container, .center-container{
                width: 33.33%
            }
       }

       .buttons-con{
        padding-left: 4%;
        padding-right: 4%;
        width: 92%;
        display: flex;
        justify-content: space-between;
       }
    }
}