@import "../../StylesSource/variables.scss";

.text-group{
    width: 100%;
    margin-left: 2%;
    display: block;
    margin-top: 2.6%;
    

    .input{
        background-color: transparent;
        border-bottom: 2px solid $red;
        border-left: none;
        border-right: none;
        border-top: none;
        outline: none;
        @include body();

    }



    .form-input-label{
        color: grey;
        height: 10px;
        margin-left: 1%;
        transition: 400ms ease all;
        position: relative;
        
        &.shrink{
            @include shrinkLabel()
        }
        &:focus~.form-input-label {
            @include shrinkLabel();
         
        }
    }
}