@import "../../StylesSource/variables.scss";


.itemSearch{
    width: 38%;
    max-width: 600px;
    height: auto;
    min-height: 30%;
    background-color: transparent;
    outline: none;
    border-right: 1px solid $white;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    color: white;
    @include body();
    transition: 0.4s ease-in-out all;

    &:focus{
        width: 600px;
    }
}