@import "../../StylesSource/variables.scss";

.group{
    width: 90%;
    margin-left: 5%;
    display: block;
    

    .form-input{
        width: 90%;
        margin-left: 5%;
        height: 4vh;
        background-color: transparent;
        border-bottom: 2px solid $red;
        border-left: none;
        border-right: none;
        border-top: none;
        outline: none;


    }



    .form-input-label{
        color: grey;
        height: 10px;
        margin-left: 5%;
        transition: 400ms ease all;
        position: relative;
        
        &.shrink{
            @include shrinkLabel()
        }
        &:focus~.form-input-label {
            @include shrinkLabel();
         
        }
    }
}