@import "../../StylesSource/variables.scss";

.delivery-option{
    width: 44%;
    aspect-ratio: 1/1;
    float: left;
    margin-left: 2%;
    padding: 2%;
    display: block;
    justify-content: center;
    transition: 0.4s ease-in-out all;
    text-align: center;
    
    .delivery-option-heading{
        text-align: center;
        margin: 0;
    }

    .delivery-content{
        @include body();
        margin: 0;
        
    }

    &:hover{
        @include dropShadow();
    }


}