@import "../../StylesSource/variables.scss";

.bg-container-Ad{
    width: 100%;
    height: 40vh;
    background-color: $black;
    background-size: cover;
    background-position: center;
}

.prod-image {
    width: 15%;
    aspect-ratio: 1/1;
    background-color: red;
    position: absolute;
    top: 15%;
    left: 42%;
    border-radius: 55%;
    @include dropShadow();
    background-size: cover;
    background-position: center;
    z-index: +99();
}

.overlay{
    width: 100%;
    height: 40vh;
    margin-top: 10vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.9248074229691877) 0%, rgba(0,0,0,0.3617822128851541) 100%, rgba(9,9,121,0) 100%);
    position: absolute;
    top: 0;
    z-index: +99;
}
.header-container{
    width: 100%;

}

.itemsContainer{
        width: 100%;
        height: auto;
}


.section{
    width: 32.1%;
    display: inline-flex;
    padding-top: 1%;
    padding-left: 1%;
    border-left: 2px solid black;
    justify-content: center;
    margin-bottom: 20px;

    h4{
        @include headingFour();
    }

    li{
        list-style: none;
        @include headingSix();
        margin-top: 10%;
    }

    input{
        width: 40%;
        text-align: center;
        background-color: transparent;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom:  3px solid $red;
        outline: none;
        margin-top: 6%;
    }
}

.edsbutton{
    width: 100%;
}
