@import "../../StylesSource/variables.scss";

.search-item {
    width: 100%;
    display: flex;
    min-height: 80px;
    border-bottom: 1px solid darkgrey;
    padding: 6px 0;
    font-size: 20px;
    align-items: center;

    .image-con{
        width: 23%;
        padding-right: 15px;
        max-height: 150px;

        img {
            height: 100%;
            max-height: 80px;
        }
    }

    .name,
    .price {
        width: 40%;
        @include body();
        margin: 0;
    }

    &:hover{
        @include dropShadow();
        border-bottom: none;
    }

}