@import "../../StylesSource/variables.scss";

.color-circle{
    height: 100%;
    border-radius: 55%;
    aspect-ratio: 1/1;
    display: inline-flex;
    margin-right: 2%;
    @include dropShadow();
    transition: 0.3s linear all;   

    &:hover{
        transform: scale(1.1);
    }
}